* {
  margin: 0;
  padding: 0;
  border: 0 solid transparent;
  font-family: Arial, Helvetica, sans-serif;
  
}

p {
  margin: 0 0 0 10px;
  display: block;
}
div {
  /* border: black solid 1px; */
  margin: 0 0 2px 0;
  padding: 4px 0 2px 0;
  display:block;
}

input, button {
  padding: 5px;
  border: 0.5px solid gray;
  border-radius: 5px;
  margin: 5px;
  /* background-color: white !important; */
}


button {
width: 75px;
}


.invalid-field{
  background-color:#ffdddd;
  border: red solid .5px;
}

/* input:valid{
  background-color:#deffdd;
  border: green solid .5px;
} */

error-input{
  background-color:#ffdddd;
  border: red solid .5px;
}

input:focus:invalid{
  outline: none;
}

.error {
   width: 100%;


  font-size: 80%;
  color: white;
  background-color: #990000;
  border-radius: 0 0 5px 5px;
}

.active {
  padding: .25rem;
}

.blank {
  background-color: white !important;
  border: rgb(92, 186, 218) solid .5px !important;
}

.valid-field{
background-color:#deffdd;
  border: green solid .5px;
}


select,
::picker(select) {
  appearance: base-select;
}

select {
  border: 2px solid #dddddd;
  background: #eeeeee;
  padding: 10px;
  transition: 0.4s;
  margin-left: 10px;
}

select,label{
  margin-left:10px;
}

select:hover,
select:focus {
  background: #dddddd;
}

::picker(select) {
  border: none;
}

option {
  display: flex;
  justify-content: flex-start;
  gap: 20px;
 

  border: 2px solid #dddddd;
  background: #eeeeee;
  padding: 10px;
  transition: 0.4s;
}

option:first-of-type {
  border-radius: 8px 8px 0 0;
}

option:last-of-type {
  border-radius: 0 0 8px 8px;
}

option:not(option:last-of-type) {
  border-bottom: none;
}

option:nth-of-type(odd) {
  background: white;
}

option:hover,
option:focus {
  background: rgb(160, 187, 221);
}

/* selectedcontent .icon {
  display: none;
} */
 button{
  background-color:rgb(160, 187, 221);
  box-shadow: 2px 2px 4px rgb(175, 175, 175);
  border: rgb(82, 82, 82);
 }

 button:hover{
  background-color: rgb(24, 66, 117);
  color: white;
 }

 button:active{
  transform: translateX(2px) translateY(2px);
 }