* {
  margin: 0;
  padding: 0;
  border: 0 solid transparent;
  font-family: Arial, Helvetica, sans-serif;
  
}

p {
  margin: 0 0 0 10px;
}
div {
  border: black solid 1px;
  margin: 0 0 2px 0;
  padding: 4px 0 2px 0;
}

input, button {
  padding: 5px;
  border: 0.5px solid gray;
  border-radius: 5px;
  margin: 5px;
  /* background-color: white !important; */
}


button {
width: 75px;
}


input:invalid{
  background-color:#ffdddd;
  border: red solid .5px;
}

input:valid{
  background-color:#deffdd;
  border: green solid .5px;
}

/* error-input{
  background-color:#ffdddd;
  border: red solid .5px;
} */

input:focus:invalid{
  outline: none;
}

.error {
   width: 100%;


  font-size: 80%;
  color: white;
  background-color: #990000;
  border-radius: 0 0 5px 5px;
}

.blank {
  background-color: white !important;
  border: rgb(92, 186, 218) solid .5px !important;
}



